@import url("reset.css");
@import url("navbar.css");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* debug */
/* *{
    border: 1px solid red;
} */

body {
    font-family: 'Open Sans';
    min-height: 100vh;
    background: linear-gradient(30deg, #ffd500, #ff5e00, #ff0000);
    display: flex;
    align-items: center;
    justify-content: center;
}

.green {
    color: #026302;
}

.red {
    color: #ff0000;
}


.login-card-container {
    margin-top: 50px;
}

.login-card-logo h1 {
    font-family: 'Pacifico';
    font-size: 4rem;
}

.login-card {
    width: 450px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    position: relative;
}

.login-card::before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
    border-radius: 10px;

}

.table {
    /* margin: 2%; */
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
}

table td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);;
}

.table-div {
    margin-bottom:20px;
}

.search-card {
    width: 95vw;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    position: relative;
    padding-bottom: 50px;
}

.search-card::before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    inset: 0;
    transform: rotate(-2deg);
    z-index: -1;
    border-radius: 10px;

}

.url {
    color: black;
}

.back_arrow {
    position: absolute;
    margin: 10px;
    bottom: 5px;
    left: 5px;
    font-size: 30px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}


.button-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    display:flex;
    flex-direction: line;
    margin: 5px;
    justify-content: space-between;
}

button.button-style {
    /* background: linear-gradient(45deg, #f3ec78, #af4261); */
    background: rgba(255, 255, 255, 0.25);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out;
}
  
button.button-style:hover {
    transform: translateY(-3px);
}

.login-card-logo {
    margin-bottom: 2rem;
}

.login-card-logo img {
    width: 60px;
}
  

.login-card-logo,
.login-card-header,
.login-card-footer {
    text-align: center;
}

.login-card a {
    padding-left: 20px; 
    padding-bottom: 20px; 
    text-decoration: none;
    color: black;
}

.login-card-header {
    margin-bottom: 2rem;
}

.login-card-header p {
    margin-bottom: 1rem;
}

.login-card-header h1 {
    font-family: 'Pacifico';
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.login-card-header h1+div {
    font-size: calc(1rem*.8);
    opacity: .8;
}

.login-card-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
}

.login-card-form .form-item {
    position: relative;
}

.login-card-form .form-item .form-item-icon {
    position: absolute;
    top: .8rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: .4;
}

.login-card-footer {
    margin-top: 1.5rem;
    font-size: calc(1rem*.8);
    padding-bottom: 10%;
}

.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="username"] {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem 3.5rem;
    padding-left: calc(1rem*3.5);
    width: 100%;
    transition: background .5s;
    border-radius: 100px;
}


.login-card input::focus {
    background: white;
}

.login-card-form button {
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    letter-spacing: 2px;
    transition: background .5s;
}

.login-card-form button:hover {
    background-color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
}

div i {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 20%;
    color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 800px) {
    body {
        padding: 2rem 0;
    }

    .login-card {
        width: 300px;
        padding: 2rem;
    }
}