<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Googol</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>


<body>
    <!-- navbar -->
    <div th:insert="~{navbar :: navbar}"></div>

    <!-- body -->
    <div class="login-card-container">
        <div class="login-card">
            <div class="login-card-logo">
                <h1>Googol</h1>
            </div>
            <div class="login-card-header">
                <h1 class="red">Error!</h1>
                <p><strong>Error code:</strong> <span th:text="${error_code}"></span></p>
                <p><strong>Status:</strong> <span th:text="${response}"></span></p>
            </div>

            <!-- back arrow -->
            <div class="back-arrow">
                <a href="#" onclick="goBack()" class="material-symbols-rounded back">arrow_back_ios</a>
            </div>
            <script>
                function goBack() {
                    window.location.href = document.referrer;
                }
            </script>
        </div>
    </div>

</body>

</html>