<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- <link th:href="@{/login.css}" rel="stylesheet"> -->
    <link href="../static/login.css" rel="stylesheet">
</head>

<body>
    <!-- navbar -->
    <!-- <div th:insert="~{navbar :: navbar}"></div> -->

    <!-- body -->
    <div class="login-card-container">
        <div class="login-card">
            <div class="login-card-logo">
                <h1>Googol</h1>
            </div>
            <div class="login-card-header">
                <h1>Sign In</h1>
                <div>Log in to use Googol</div>
            </div>
            <form class="login-card-form">
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">Person</span>
                    <input type="text" placeholder="Enter username" required autofocus>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">Lock</span>
                    <input type="text" placeholder="Enter password" required>
                </div>
                <button type="submit">Sign in</button>
            </form>
            <div class="login-card-footer">
                Don't have an account? <a href="#">Register</a>
            </div>
        </div>
    </div>
</body>

</html>