<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/navbar.css}">

    <title>navbar</title>
</head>

<body>
    <nav th:fragment="navbar" class="navbar">
        <ul>
            <li><a href="/index">Index an URL</a></li>
            <li><a href="/search">Search Words</a></li>
            <li><a href="/search_url">Search URL</a></li>
            <li><a href="/top-stories-user">HackerNews User Stories</a></li>
            <li><a href="/top-stories">HackerNews Top-Stories</a></li>
            <li><a href="/stats">Stats</a></li>
        </ul>

        <ul class="left">
            <span class="material-symbols-rounded">
                person
            </span>
            <li><p th:text="${session.username}"></p> </li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>

    </nav>
</body>

</html>