<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Googol</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>


<body>
    <!-- navbar -->
    <div th:insert="~{navbar :: navbar}"></div>

    <!-- body -->
    <div class="login-card-container">
        <div class="login-card">
            <div class="login-card-logo">
                <h1>Googol</h1>
            </div>
            <div class="login-card-header">
                <h1 class="green">Success!</h1>
                <p style="margin-bottom: 10px;"><strong>Results:</strong> <span th:text="${response}"></span></p>
            </div>
            <a href="#" onclick="goBack()" class="material-symbols-rounded back-arrow">arrow_back_ios_new</a>
            <script>
                function goBack() {
                    window.location.href = document.referrer;
                }
            </script>
        </div>
    </div>

</body>

</html>